extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Brent Thomas

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm an Atlanta based FullStack JavaScript Developer, small business owner, and father of two energetic and adventurous boys. 
            | I have a passion to create, solve problems, and contribute in a meaningful way. I find happiness in progress - in action - 
            | in the doing of the deed, not at the finish line. Interested in all things JavaScript and working on ambitious projects with great people! 
            | 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li NodeJS
          li Express
          li React
          li PUG 
          li Handlebars
          li SQL 
          li NoSQL
          li HTML5
          li CSS3
          li JQUERY 
        h6 Contact Info

        ul
          li 404-845-6948
          li bthomas0144@email.com

        a.button.expanded(target='_blank' href='https://linkedin.com') LinkedIn
        a.button.expanded(target='_blank' href='https://github.com/kennethbrent') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  